.App-sidebar {
    display: flex;
    min-width: 150px;
    height: 100%;
    background: #222;
    padding: 0 10px;
}

.App-sidebar-nav {
    color: #fff;
}

.App-sidebar-nav a {
    display: block;
    padding: 10px 0;
    cursor: pointer;
}