.App {
    text-align: left;
}

.App-header {
    background-color: #222;
    height: 50px;
    padding: 20px;
    color: white;
}

.App-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}